

@model BlogData


<div style="display:flex;justify-content:space-evenly; margin-top:45px;">
   
        <div>
            <img src="~/img/@Model.Image" />
            <h2>@Model.Title</h2>
            <p>@Model.Description</p>
        </div>

</div>



 